

<app-ng-track-demo></app-ng-track-demo>


<!-- <app-parent></app-parent> -->




<hr>


<h2>My Awesome Counter App</h2>

<kl-kronos-lib></kl-kronos-lib>


<h3>Counter : {{ counter }}</h3>
<hr>
<button (click) = "onIncrease()">Increase</button>
<button (click) = "onDecrease()">Decrease</button>
<button (click) = "onAddCounter(10)">Add Counter</button>
<button (click) = "onSubtractCounter(5)">Subtract Counter</button>

<hr>

<button (click)="onStoreResult()">Store Result</button>

<br>

<ul>
  <li *ngFor="let res of result; index as i"
    class="list-item"
    (dblclick)="onRemoveResult(i)">
    {{res}}
  </li>
</ul>
